// You can use external web fonts!
@import url('https://fonts.googleapis.com/css?family=Roboto');

.Page  {
  h1, p {
    font-family: Roboto;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
